BODY
{
	background: rgb(0,0,0);
	color: rgb(200,200,200);
	font-family: verdana, serif;
}

A:link
{
    color: rgb(0, 200, 200);
    text-decoration: none;
}

A:visited
{
    color: rgb(0, 200, 200);
    text-decoration: none;
}

A:hover
{
    text-decoration: none;
    background-color: rgb(75,75,75);
}

A:focus
{
	color: #660099;
	text-decoration: none;
}

A:active
{
	color: #990099;
	text-decoration: none;
}

th
{
	width: 25%;
}

.box
{
	width: 70%;
	border: 1px solid rgb(38, 112, 255);
}

.boxHeader
{
	background-color: rgb(75,75,75);
	color: rgb(0,0,0);
	font-weight: bold;
}

.boxContent
{
    color: gray;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(38, 112, 255);
}

#mainContent
{
	position: absolute;
	left: 20%;
	top: 10%;
	width: 80%;
		margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

div#header
{
	position: fixed;
	top: 0;
	width: 100%;
}

div#menuBar
{
	position: fixed;
	left: 0;
	right: 80%;
	top: 10%;
	overflow: auto;
}

div#footer
{
	position: fixed;
	bottom: 0;
}

h1
{
	background-color: rgb(75,75,75);
	color: rgb(0,0,0);
	font-weight: bold;
}