BODY
{
	background: rgb(0,0,0);
	color: rgb(200,200,200);
	font-family: verdana, serif;
}

A:link, A:visited
{
    color: rgb(0, 190, 255);
    text-decoration: none;
}

A:hover
{
    text-decoration: none;
    background-color: rgb(75,75,75);
}

A:focus
{
	color: #660099;
	text-decoration: none;
}

A:active
{
	color: #990099;
	text-decoration: none;
}


tr.boxHeader
{
	background-color: rgb(75,75,75);
	color: rgb(0,0,0);
	font-weight: bold;
}

tr.boxContent
{
    color: gray;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(38, 112, 255);
}

div#mainContent
{
	position: absolute;
	left: 20%;
	top: 10%;
	width: 80%;
	margin-left:auto;
	margin-right:auto;
	overflow:auto;
}

div#header
{
	position: fixed;
	top: 0;
	width: 100%;
}

div#heading
{
	position: absolute;
	width:75%;
	left: 20%;
	right: 5%;
	top: 0%;
	text-align: center;
	margin: 15px;
}

div#heading h1
{
	margin: 0px;
}

div#menuBar
{
	position: fixed;
	left: 0;
	right: 80%;
	top: 10%;
	overflow: auto;
}

div#footer
{
	position: fixed;
	bottom: 0;
}

h1
{
	background-color: rgb(75,75,75);
	color: rgb(0,0,0);
	font-weight: bold;
}

input[type="text"], input[type="password"], textarea, select
{
	display: block;
	float: left;
	width: 175px;
	margin-bottom: 10px;
	border: 1px solid rgb(75, 75, 75);
	padding-left: 2px;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus
{
	background-color: rgb(200, 200, 200);
}

.label
{
	display: block;
	float: left;
	text-align: right;
	width: 100px;
	padding-right: 20px;
	margin-left: 20%;
}

br
{
	clear: left;
}

div.box
{
	width: 70%;
	margin: 25px;
	padding: 3px;
	text-align: left;
	border: 1px solid rgb(38, 112, 255);
}

div.box h4
{
	margin: 0px;
	padding: 5px;
	text-align: center;
	background-color: rgb(45,45,45);
	color: rgb(0,0,0);
}